@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 1440px;
  height: auto;
  /* padding: 53px; */
  margin: 0 auto;
  border: 3px solid transparent;
  /* margin-bottom: 300px; */

  padding-top: 44px;
  padding-left: 6.4063rem;
  padding-right:  6.4063rem;
  
 }

