@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: 1440px;
  height: auto;
  /* padding: 53px; */
  margin: 0 auto;
  border: 3px solid blue;
  /* padding-left:6.375rem;
  padding-right:6.375rem; */
  margin-bottom: 300px;

  padding-top: 44px;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  
 }

